In [11]:
from ucimlrepo import fetch_ucirepo
import csv

In [ ]:
#N -> Nominal Data
#O -> Ordinal Data
#D -> Discrete Data
#C -> Continous Data
data_type = {"age":"C" 
            ,"sex":"N" #Binomial
            ,"cp": "N"
            ,"trestbps": "C"
            ,"chol": "C"
            ,"fbs": "N"
            ,"restecg": "N"
            ,"thalach": "C"
            ,"exang": "N" #Binomial
            ,"oldpeak": "C"
            ,"slope": "N"
            ,"ca":"D"
            ,"thal": "N"
            ,"diagnosis":"N"}

In [10]:
# fetch dataset 
heart_disease = fetch_ucirepo(id=45) 

# data (as pandas dataframes) 
X = heart_disease.data.features 
y = heart_disease.data.targets
y = y.rename(columns={"num":"diagnosis"})

data = X.join(y)

In [ ]:
def type_comparison(a, b):
    comp = -1
    comp = 0 if a == b == "N" else comp
    comp = 1 if a == b == "C" else comp
    comp = 2 if a == b == "D" else comp

    comp = 3 if (a == "N" and b == "C") or (a == "C" and b == "N") else comp
    comp = 4 if (a == "N" and b == "D") or (a == "D" and b == "N") else comp
    comp = 5 if (a == "D" and b == "C") or (a == "C" and b == "D") else comp

    return comp

In [ ]:
correlation_matrix = []
for i_name, i, in data.items():
    cur_row = []
    for j_name, j in data.items():
        daty_comp = type_comparison(data_type[i_name], data_type[j_name])
        if i_name == j_name:
            cur_row.append(1)
            continue
        match daty_comp:
            case 0:
                #TODO:Implement NN comp
            case 1:
                #TODO: Implement CC comp
            case 2:
                #TODO: Implement DD ocmp
            case 3:
                #TODO Implement NC comp
            case 4:
                #TODO Implement ND comp
            case 5:
                #TODO Implment CD comp

    correlation_matrix.append(cur_row)

     num
0      0
1      2
2      1
3      0
4      0
..   ...
298    1
299    2
300    3
301    1
302    0

[303 rows x 1 columns]